@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="/sample.pdf?width=500&format=jpg"><img src="/sample.pdf?width=500&format=jpg" alt="PDF" /></a>

    <a href="/sample.png?width=200&format=jpg"><img src="/sample.png?width=200&format=jpg" alt="png" /></a>
</div>
